<!DOCTYPE html>
<html>
  <head>
    <title>Ehsaas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- This div will be the container for your Vue.js app -->
    <div id="app"></div>

    <!-- Include the Vue.js script tag -->
    <script src="/packs/application.js"></script>
  </body>
</html>
